.contact-section {
  background-color: #CAF0F8;  /* lightest palette */
  padding: 70px 20px;
}

.contact-heading {
  text-align: center;
  font-size: 40px;
  color: #03045E;
  margin-bottom: 50px;
}

.contact-wrapper {
  max-width: 1000px;
  margin: auto;
  display: flex;
  gap: 60px;
  align-items: center;
}

.contact-box {
  max-width: 1000px;
  margin: auto;
  display: flex;
  gap: 60px;

  background: #90E0EF;   /* darker than page bg */
  padding: 50px;
  border-radius: 22px;

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.18);
}

/* LEFT SIDE */
.contact-info {
  flex: 1;
}

.contact-text {
  font-size: 22px;
  color: #0077B6;
  margin-bottom: 20px;
}

.contact-detail {
  font-size: 16px;
  color: #03045E;
  margin-bottom: 10px;
}

/* RIGHT SIDE FORM */
.contact-form {
  flex: 1;
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px 14px;
  border-radius: 10px;
  border: 3px solid #90E0EF;
  font-size: 14px;
  font-family: inherit;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #0077B6;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  background: #03045E ;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background: #1e2598;
  transform: scale(1.2);
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
    gap: 40px;
  }

  .contact-heading {
    font-size: 26px;
  }
}
