.hero {
  height: 100vh;
  background-image: url("img/kgp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;    
  align-items: center;       
}
.h-content {
  display: flex;
  flex-direction: column;    
  align-items: center;       
  text-align: center;        
  gap: 0.6rem;    
  transform: translateX(-310px); 
  border: radius 25px;       
}

.h-content img {
  border-radius:1000px;
  opacity:0.8;
}
.h-textbox {
  background:rgb(3,4,94,0.65) ;  
  padding: 1rem 2rem;               
  border-radius: 10px;  
  font-family:'space grotesk',sans-serif;    
           
}

.h-title {
  font-size: clamp(2.2rem, 4vw, 3.2rem);
  line-height: 1.1;
  margin-bottom: 0.75rem;
  color:#90e0ef;
  opacity:0.8;
}

.h-subtitle {
  font-size: 1rem;
  line-height: 1.6;
  color:#90e0ef ;
  margin-bottom: 1.5rem;
  opacity:0.8;
}

.vision {
  background:#00b4d8;              
  padding: 2rem 0;
}

.v-content {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  background:rgb(3,4,94) ;
  border-radius: 30px;
  border: 8px solid #90e0ef;
  padding: 2rem 5rem 4rem;
  font-size: 1.5rem; 
  color: #90e0ef;
  text-shadow:
   0 0 4px rgba(255, 255, 255, 0.3), 
    0 0 12px rgba(255, 0, 222, 0.2);
}

.v-head {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0.03em;
  color: #CAF0F8;
  font-family:'Verdana';
}

.v-head1 {
  font-weight: 300;                 
}
.mission {
  background:#00b4d8;              
  padding: 2rem 0;
}

.m-content {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  background: rgb(3,4,94);
  border-radius: 30px;
  border: 8px solid #90e0ef;
  padding: 2rem 5rem 4rem;
  font-size:1.5rem ;
  color: #90e0ef;
  text-shadow:
   0 0 4px rgba(255, 255, 255, 0.3), 
    0 0 12px rgba(255, 0, 222, 0.2);
}


.m-head {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
  letter-spacing: 0.03em;
  color: #CAF0F8;
  font-family:'Verdana';
}

.m-head1 {
  font-weight: 300;                 
}
.core {
  background:#CAF0F8;              
  padding: 4rem 0;
}

.c-content {
  max-width: 1100px;
  margin: 0 auto;
  background: #00b4d8;
  border: 8px solid #90e0ef;
  border-radius: 18px;
  padding: 3rem 4rem 3.5rem;
}


.c-head {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
  letter-spacing: 0.03em;
  color: rgb(3,4,94);
  font-family:'courier';
  text-shadow:
   0 0 4px rgba(255, 255, 255, 0.3), 
    0 0 12px rgba(255, 0, 222, 0.2);
}

.c-head1 {
  font-weight: 600;                 
}

.c-tabs {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  
}

.c-tab {
  flex: 1 1 30%;
  min-width: 260px;
  background: rgb(3,4,94);
  border-radius: 20px;
  padding: 2.2rem 1.8rem;
  text-align: center;
  box-shadow: 0 12px 26px rgba(0, 0, 0, 0.06);
  font-family:'courier new';
}

.c-icon {
  margin-bottom: 1.4rem;
}


.c-title {
  font-size: 1.7rem;
  font-weight: 600;
  color:white;
  margin-bottom: 0.7rem;
}


.c-text {
  font-size: 1rem;
  line-height: 1.6;
  color: #CAF0F8;;
}

.c-icon img {
  width: 90px;
  height: auto;
}